#users {
    border-collapse: collapse;
    width: 100%;
  }
  table {
  
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
font-size: 13px;    

  }
  #users td, #users th {
height: 45px;
 }
 .hide{
     display: none;
 }
    
  #users tr:hover {background-color: #ddd;}
  
  #users th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    background-color: rgb(226, 55, 55);
    color: white;
  }
  input[type=submit] {
    background-color: rgb(212, 23, 23);
    color: white;
    /* padding: 12px 1; */
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px;
    height: 30px;

  }
  
  /* td {
    width: 500px;
  }  */

