img {
  max-width: 100%;
  max-height: 100%;
  
}
.img{
  position: relative;
  overflow:hidden;
}
.imgTxt p{
  color: rgb(255, 255, 255);
  font-weight: bolder;
  margin-top: 5px;
  font-size: 18px;
  margin-left: 10px;

}


.imgTxt{

  position:absolute;
  height: 50px;
  width: auto;
  background-color: rgb(7, 0, 0);
  left: 80px;
  opacity: 0.5;
  top: 60px;
  float: left;

}
.img1 {
  margin-top: 10px;
  width: 60px;
  vertical-align: middle;

}
.d1 img {
  height: 50px;
  margin-top: 20px;
  width: 50px;
}
#fit{
  padding-bottom: 10%;

}
.column{
  float: left;
  width: 20%;
  margin-bottom: 16px;
  padding: 0 8px;

}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.card{
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.contain {
  padding: 0 16px;
}
.contain a {
  text-decoration: none;
  color: rgb(158, 28, 28);
  font-size: 13px;
}
.contain::after, .row::after{
  content:  "";
  clear: both;
  display: table;
}
@media screen and (max-width: 800px) {
  .img img {
    height: 200px;
    width: 100%;
  }
  .imgTxt p{
    font-size: 13px;
  
  }
}
@media screen and (max-width: 650px){
  
  .column{
      width: 100%;
      display: block;
  }
  .imgTxt p{
    font-size: 13px;
  
  }
}

@media screen and (max-width: 400px) {
  .img {
    height: 150px;
    width: 100%;
  }
  .img img{
    height: 150px;
  }
  .img1{
    width:30% ;
    margin-left: 40px;
  }
  .imgTxt p{
    font-size: 13px;
  
  }

}
@media screen and (max-width: 1024px) {
  .img {
    height: 200px;
    width: 100%;
  }
  .img1{
    width:10% ;
    height: 60px;
  }
  div {
    width: 100%;
    height: 100%;
    font-size: 20px;
    }

}
@media screen and (min-width: 2560px) {
  .img img {
    width: 100%;
  }

  div {
width: 100%;
    font-size:40px;
    }

}

