input[type=submit] {
    background-color: rgb(212, 23, 23);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }

  form a{
      text-decoration: none;

  }

  button{
    background-color: rgb(226, 55, 55);
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 85px;
  }