
.containerform{
height: 470px;
width:70% ;

}

/* input[type="text"],
input[type="password"],button {
  width: 50%;
} */
@media screen and (max-width: 800px) {
    .containerform {
            height: 470px;
            
    }
  }
  @media screen and (min-width: 400px) {
    .containerform {
            height: 565px;
            
    }
  }