
.containerform{
height: 200px;
width:70% ;
display: flex;  
flex-direction: column;
box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.15);
margin-left: 150px;
margin-top: 30px;

}
.sign{
  height: 500px;
width:70% ;
margin-left: 120px;
margin-top: 30px;



}

@media screen and (max-width: 800px) {
    .containerform {
      margin-left: 100px;
      margin-top: 30px;
      height: 200px;
  
    }

  }
  @media screen and (min-width: 400px) {
    .containerform {
      height: 510px;
            
    }
  }