.d1 {
  width: 50%;
  height: 30px;
  background-color: rgb(226, 55, 55);
}
.d2 {
  width: 50%;
  height: 30px;
  background-color: rgb(226, 55, 55);
}
.d3 {
  width: 50%;
  height: 30px;
  background-color: rgb(226, 55, 55);
}
.dashDiv {
  width: 28%;
  height: 550px;
  float: left;
  margin-left: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
  /* margin-top: 70px; */
}
.dashDiv2 {
  width: 28%;
  height: 550px;
  float: left;
  margin-left: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.dashDiv3 {
  width: 28%;
  height: 550px;
  float: left;
  margin-left: 30px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.25);
}
.two {
  height: 550px;
}
@media screen and (max-width: 200px) {
  .dashDiv {
    width: 90%;
    height: 300px;
    overflow: auto;  }
  .dashDiv2 {
    width: 90%;
    height: 300px;
  }
  .dashDiv3 {
    width: 90%;
    height: 300px;
  }
}
span {
  color: white;
  font-size: 15px;
  font-weight: bold;
  padding-left: 10px;
  padding-top: 10px;
}
table {
  width: 100%;
}
tr {
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.25);
}

.td1 {
  width: 100px;
  height: 50px;
  font-size: 14px;
  text-align: center;
}
.td2 {
  width: 10px;
  height: 50px;
}
.td2 img {
  width: 20px;
}
 h1 a{
     text-decoration: none;
     color: black;
 }